.className {
  padding: 15px 10px;
  color: #fff;
  width: 20%;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon {
  height: 14px;
  margin-right: 5px;
}
