.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 15px;
  text-align: center;
}
.input {
  padding: 5px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
